body {
    color: #000;
    box-sizing: border-box;
    background-color: #FFDF2B;
    padding: 48px;
  }
  
  h1 {
    font-size: 6em;
    font-weight: bolder;
  }

  input {
    padding: 12px 24px;
    font-size: 24px;
    margin: 12px 0 0 0;
  }
  label {
    font-size: 24px;
  }