
body {
    color: #000;
    box-sizing: border-box;
    background-color: #FFDF2B;
  }
  
  h1 {
    font-size: 6em;
    font-weight: bolder;
  }
  h2 {
    font-size: 4em;
    font-weight: bolder;
  }